# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Django
*.log
db.sqlite3
*.pot
*.pyc
staticfiles/

# Environments
.env.*.local
/.venv
/env
/venv

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db


settings/production.py
__pycache__
