<!DOCTYPE html>
{% load static %}
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INSPIRATION RDC {% if title %} | {{ title }} {% endif %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.output.css' %}" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="{% static 'assets/js/init-alpine.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
    <script src="{% static 'assets/js/charts-lines.js' %}" defer></script>
    <script src="{% static 'assets/js/charts-pie.js' %}" defer></script>
</head>

<body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen }">
        {% include 'widgets/sidebar.html' %}
        <div class="flex flex-col flex-1 w-full">
            {% include 'widgets/navbar.html' %}
            <main class="h-full overflow-y-auto">
                
                {% include "partials/_messages.html" %}
                
                {% block content %}

                {% endblock %}
            </main>

        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script type="application/ld+json">
        {
        "@context": "https://INSPIRATIONrdc.com",
        "@type": "Person",
        "name": "IRAGI MAHESHE RODRIGUE",
        "url": "https://yourwebsite.com",
        "image": "https://yourwebsite.com/"
        }
</script>
</body>

</html>