{% extends 'core/base_1.html' %} {% block content %}
<div class="flex flex-col md:flex-row gap-4 px-6 py-5">
    <!-- Sidebar for tags -->
    <div class="w-full md:w-80 bg-[#F8F9FB] p-4 rounded-lg shadow-md">
        <h1 class="text-[#141C24] text-lg font-medium mb-4">Mot cles</h1>
        <div class="flex flex-col gap-2">
            {% for tag in tags %} {% if tag_n.slug == tag.slug %} {% else %}
            <a href="{% url 'tag-details' tag.slug %}" class="tag px-3 py-2 rounded-xl bg-[#E4E9F1] text-[#141C24] text-sm font-medium leading-normal cursor-pointer hover:bg-[#d3d8e0]">
                {{ tag.name }}
            </a>{% endif %} {% endfor %}
        </div>
    </div>

    <!-- Articles section -->
    <div class="flex-1 max-w-full">
        <p id="tag-name" class="text-[#3F5374] text-sm font-normal pb-3 pt-1 px-4">Articles |  {{ tag_n.name }}</p>

        <div id="articles" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4">
            {% if articles %} {% for article in articles %}
            <a href="{% url 'article-details' article.slug %}" class="flex flex-col gap-4 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out">
                <img src="{{ article.imageUrl }}" alt="{{ article.title }}" class="w-full bg-center bg-no-repeat aspect-video bg-cover" style='background-image: url("");'>
                <div class="p-4">
                    <p class="text-[#141C24] text-lg font-semibold leading-snug">
                        {{ article.title }}
                    </p>
                    <p class="text-[#3F5374] text-sm leading-relaxed mt-2">
                        {{ article.get_plain_text_content|truncatewords:10 }}
                    </p>
                </div>
            </a>
            {% endfor %} {% else %}
            <p class="text-[#3F5374] text-sm font-normal">Aucun article trouvé pour ce tag.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}