{% extends 'core/base.html' %}
{% load static %}
{% block head_title %}{{ title }}{% endblock %}
{% block content %}

<div class="m-auto w-3/4" style="width: 80%; margin: auto;">
    <h1 class="text-center dark:text-white text-slate-500">
        {{title}}
    </h1>
    <form method="post" class="space-y-6 dark:text-white">
        {% csrf_token %}

        <div class="mb-4">
            <input type="hidden" name="action" value="credit">
            {{ form }}
        </div>
        {% if form.amount.errors %} {% for error in form.amount.errors %}
        <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
        {% endfor %} {% endif %}

        {% if message %}
        <p class="text-red-600 text-sm italic pb-2">{{ message }}</p>
        {% endif %}

        <div class="flex w-full justify-center">
            <button
                class="bg-slate-900 text-slate-500 dark:text-white hover:text-blue-900 hover:bg-slate-700 border border-slate-900 font-bold px-4 py-2"
                type="submit">
                Submit
            </button>
        </div>
    </form>
    <div
        class="relative w-full max-w-xl mr-6 focus-within:text-purple-500">
        <div class="absolute inset-y-0 flex items-center pl-2">
            <svg
                class="w-4 h-4"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"></path>
            </svg>
        </div>
        <input
            class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
            type="text"
            id="search"
            placeholder="Chercher un compte"
            aria-label="Search" />
    </div>
    <div class="w-full overflow-x-auto">

        {% if creditss %}

        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr
                    class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">Client</th>
                    <th class="px-4 py-3">Montant</th>
                    <th class="px-4 py-3">Dette</th>
                    <th class="px-4 py-3">Montant estimé à rembourser</th>
                    <th class="px-4 py-3">Date</th>
                    <th class="px-4 py-3">Actions</th>
                </tr>
            </thead>
            <tbody
                class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                {% for credit in creditss %}
                <tr class="text-gray-700 dark:text-gray-400" id="table">
                    <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                            <!-- Avatar with inset shadow -->
                            <div
                                class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                <img
                                    class="object-cover w-full h-full rounded-full"
                                    src="{% static 'img/avatar.jpg' %}"
                                    alt loading="lazy" />
                                <div
                                    class="absolute inset-0 rounded-full shadow-inner"
                                    aria-hidden="true">
                                </div>
                            </div>
                            <div>

                                {{ credit.account }}

                            </div>
                        </div>
                    </td>
                    <td class="px-4 py-3 text-sm">
                        CDF {{credit.amount}}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        CDF {{credit.account.credit}}
                    </td>
                    <td class="px-4 py-3 text-xs">
                        <span
                            class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                            CDF {{credit.estimeted}}
                        </span>
                    </td>
                    <td class="px-4 py-3 text-sm">

                        {{ credit.added_at|date:"F d, Y h" }}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        <!-- button to open the modal pour rembourser la dette -->
                        <i
                            data-credit="{{credit.id}}"
                            class="credit">
                            <button
                                @click="openModal"
                                id="credit"
                                class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                Modifier
                            </button>
                        </i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
        {% if creditss.has_other_pages %}

        <div class="flex justify-center ">

            {% if creditss.has_previous %}

            <a href="?page={{ creditss.previous_page_number }}"
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">&laquo;</a>

            {% endif %}

            {% for page_number in creditss.paginator.page_range %}

            {% if creditss.number == page_number %}

            <button
                class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                <span> {{page_number}} <span class="sr-only"></span></span>

            </button>

            {% else %}
            <a href="?page={{page_number}}"
                class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                {{ page_number }}
            </a>

            {% endif %}

            {% endfor %}

            {% if creditss.has_next %}

            <a href="?page={{ creditss.next_page_number }}"
                class="btn btn-outline-primary">&laquo;</a>

            {% endif %}

        </div>

        {% endif %}
    </div>
    {% endif %}
</div>

<!-- Model for pay the credit -->
<div
    x-show="isModalOpen"
    x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-150"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center">
    <!-- Modal -->
    <div
        x-show="isModalOpen"
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0 transform translate-y-1/2"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0  transform translate-y-1/2"
        @click.away="closeModal"
        @keydown.escape="closeModal"
        class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
        role="dialog"
        id="modal">
        <!-- Remove header if you don't want a close icon. Use modal body to place modal tile. -->
        <header class="flex justify-end">
            <button
                class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
                aria-label="close"
                @click="closeModal">
                <svg
                    class="w-4 h-4"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    role="img"
                    aria-hidden="true">
                    <path
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                        fill-rule="evenodd"></path>
                </svg>
            </button>
        </header>
        <!-- Modal body -->
        <div class="mt-4 mb-6">
            <!-- Modal title -->
            <p
                class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
                Remboursement emprunt
            </p>
            <!-- Modal description -->
            <form class="max-w-sm mx-auto" id="form" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="rembourser">
                <input type="hidden" name="ismodified" id="ismodified">
                <div class="hidden" id="montant">
                    <label for="montantid"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Entrer
                        un montant à rembourser:</label>
                    <input type="number" id="montantid"
                        aria-describedby="helper-text-explanation"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="90210"
                        name="montant" />
                </div>

            
                <div
                    class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input id="isPaid" type="radio"
                        name="isPaid"
                        value="True"
                        required
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="isPaid"
                        class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tout
                        payé</label>
                </div>

                <div
                    class="flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                    <input id="avance" type="radio"
                        name="isPaid"
                        required
                        value="avance"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="avance"
                        class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Avance</label>
                </div>

                <footer
                    class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800">
                    <button
                        @click="closeModal"
                        class="w-full px-5 py-3 text-sm font-medium leading-5 text-white text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:border-gray-500 focus:border-gray-500 active:text-gray-500 focus:outline-none focus:shadow-outline-gray">
                        Cancel
                    </button>
                    <button
                        class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        type="submit">
                        Accepter
                    </button>
                </footer>

            </form>
        </div>

    </div>
</div>
<style>
    #hidden{
        display: none;
    }
</style>

<script>
    var form = document.getElementById('form')
    var ismodified = document.getElementById("ismodified")
    var montant = document.getElementById("montant")
    var isPaid = document.getElementById("isPaid")
    var montantid = document.getElementById("montantid")
    

    document.querySelectorAll("input[name='isPaid']").forEach((el) => {
        el.addEventListener("change", function(event) {
            event.preventDefault()

            if(event.target.value == "avance") {
                montant.classList.remove("hidden")
                montantid.setAttribute("required", "required")
                montantid.required = true

            }else{
                montant.classList.add("hidden")
                montantid.setAttribute("required", "required")
                montantid.required = false
            }
        })
    })


    var updateBtns = document.getElementsByClassName("credit")
    for (var i = 0; i < updateBtns.length; i++) {
        updateBtns[i].addEventListener('click', function () {
            var productId = this.dataset.credit;
            console.log("CreditId: ", productId)
            ismodified.value = productId
            console.log(ismodified.value)
        })
    }

    form.addEventListener("submit", function(event) {
        event.preventDefault()
        console.log(!isPaid.value, isPaid.value)

        if(montant.value == '' && !isPaid.checked) {
            alert('Veuillez remplir le champ de saisie (montant) ou cocher la case (tout payé).');
            return;
        }

        form.submit()
    })
    

    $(document).ready(function () {
        $("#search").on("input", function () {
            var filter = $(this).val().toLowerCase();
            $("#table td").each(function () {
                if ($(this).text().toLowerCase().indexOf(filter) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>
{% endblock %}