<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Depot</h5>
          <p class="card-text">${{amount_deposit}}</p>
  
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total retrait</h5>
          <p class="card-text">${{amount_withdraw}}</p>

        </div>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Crédit</h5>
            <p class="card-text">$</p>
    
          </div>
        </div>
      </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Balance</h5>
          <p class="card-text">${{account_detail.balance}}</p>
          
        </div>
      </div>
    </div>
  </div>