<!DOCTYPE html>
{% load static %}
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Ir, IRAGI MAHESHE RODRIGUE">
        <meta name="author_gmail" content="rodrigueiragi1@gmail.com">
        <meta name="owner" content="PAULIN MAHESHE">
        <title>INSPIRATION RDC</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet"
            href="{% static 'assets/css/tailwind.output.css' %}" />

        <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer></script>
        <script src="{% static 'assets/js/init-alpine.js' %}"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
            defer></script>
        <script src="{% static 'assets/js/charts-lines.js' %}" defer></script>
        <script src="{% static 'assets/js/charts-pie.js' %}" defer></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    </head>

    <body>

        <main class="h-full overflow-y-auto">

            {% block content %}

            {% endblock %}
        </main>

    </body>

    <script
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>

    <script type="application/ld+json">
        {
        "@context": "https://INSPIRATIONrdc.com",
        "@type": "Person",
        "name": "IRAGI MAHESHE RODRIGUE",
        "url": "https://yourwebsite.com",
        "image": "https://yourwebsite.com/"
        }
</script>

</html>